@font-face {
  font-family: 'Red Hat Display';
  src: local('Red Hat Display'), url(Fonts/RedHatDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'DM Serif Display';
  src: local('DM Serif Display'), url(Fonts/DMSerifDisplay-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Red Hat Display', sans-serif;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}